<launch>
  <!-- RealSense D456 -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_depth" value="false"/>
    <arg name="enable_pointcloud" value="false"/>
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
  </include>

  <!-- Velodyne VLP-32 -->
  <include file="$(find velodyne_pointcloud)/launch/VLP32_points.launch">
    <arg name="device_ip" value="192.168.1.201"/>
    <arg name="port" value="2368"/>
    <arg name="frame_id" value="velodyne"/>
  </include>
</launch>